html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
  }
}

/* EM CSS */

.EMModalBox {
  border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto;
    max-height: 90%;
    max-width: 90%;

    animation-name: EMOpenAnimation;
    animation-duration: 0.4s;
}

@keyframes EMOpenAnimation {
  0%{
    transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

.EMBG {
  position: absolute;
  background-color: #4d4d4d75;
  top: 0px;
  left: 0px;
  z-index: 101;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: auto;
}

.EMHeader {
  display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eae5fa;
    width: 100%;
    min-height: 50px;
    padding: 0px 10px 0px 10px;

}

.EMHeaderTitle {
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  font-size: 1.5rem;
}

.EMContent {
  min-width: 100px;
  max-width: 100%;
  padding: 10px;
  overflow: auto;
}

.EMFooter {
  border-top: 1px solid #eae5fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  max-width: 100%;
}

.EMButtonSession {
  display: flex;
  width: 100%;
  margin: 5px;
  justify-content: space-between;
}

.EMDefaultButton {
  border-radius: 4px;
  padding: 5px 10px 5px 10px;
  border: none;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.EMDBVar1 {
  background-color: rgb(0, 120, 255);
}

.EMDBVar2 {
  background-color: rgb(255, 40, 0);
}

.EMDBVar3 {
  background-color: rgb(10, 255, 0);
}

.EMCloseButton {
  display: flex;
  margin: 0px 5px 0px 15px;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 800;
  font-style: normal;
  transition: all 0.4s;
  box-shadow: 0px 2px 4px -2px gray, 0px -2px 4px -2px gray;
  color: gray;
  border-radius: 4px;
}

.EMCloseButton:hover {
  color: rgb(255, 40, 0);
  box-shadow: 0px 2px 4px -2px rgb(255, 40, 0), 0px -2px 4px -2px rgb(255, 40, 0);
}

/* END EM CSS */